<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<link rel="shortcut icon" href="">
<style>
  span.highlight{
    background: yellow;
    font-weight: bold;
  }
</style>
</head>
<body>

<h2>OAuthSwift</h2>

You can set callback url : 

<br><br>

<span class="highlight">http://oauthswift.herokuapp.com/callback/{app_name}</span>

<br><br>

Redirect to <span class="highlight">"oauth-swift://oauth-callback/{app_name}"</span>
</body>
